# OS-specific files.
.DS_Store

# Editor and language files.
.idea/
.project/
.bundle/

# Ansible files.
*.retry
.galaxy_install_info

# Vagrant files.
.vagrant/
vagrant_ansible_inventory_default

# Drupal VM specific files.
local.config.yml
config.yml
drupal.make.yml
Vagrantfile.local
examples/prod/inventory
examples/prod/bootstrap/vars.yml
scripts/

# Some roles include 'config.yml' files.
!provisioning/roles/**/config.yml

# Drupal specific files
htdocs/sites/*/services.local.yml
htdocs/sites/*/settings.local.php
htdocs/sites/*/files/*
htdocs/.htaccess
htdocs/LICENSE.txt
htdocs/README.txt
htdocs/sites/README.txt
htdocs/themes/README.txt
htdocs/modules/README.txt
htdocs/profiles/README.txt
htdocs/core/*.txt